<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200i,400,500|Open+Sans|Ubuntu+Condensed" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>My Portfolio</title>
</head>

<body>
    <header class="header" id="myHeader">
        <h1>
            <%= person.firstName %>
                <%= person.lastName %>
        </h1>
        <hr />
    </header>
    <main>
        <div class="socialmedia">
            <a name="linkedIn" href="https://www.linkedin.com/in/samuel-kim-96326876/">
                <img src="/img/linkedin/In-Black-34px-TM.png" />
            </a>

            <a name="gitHub" href="https://github.com/SKtaeji">
                <img src="/img/github/GitHub-Mark-32px.png" />
            </a>
        </div>

        <div class="row trow">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>Who am I?</h1>

                <p>My name is Samuel Kim, but feel free to call me Sam! As a brief introduction about myself, I was born in
                    a little town called Brawley in Southern California on August 16, 1991. Since age six, I’ve lived in
                    San Diego all my life before moving to La Habra for college. I graduated with a Bachelor’s Degree in
                    Screenwriting back in 2013 and then went to learn programming to expand my repertoire and creativity.
                    I’ve studied Javascript, React, and a number of database programs like MySQL and MongoDB at Origin Code
                    Academy in San Diego. My design philosophy is function first before anything else. If the product does
                    not fulfill the purpose it is made for then any other aspect means nothing. I aim to accomplish every
                    task given to me with quality as my main priority. </p>

                <p>Feel free to take a look at the two projects I put up on the right, or check out my GitHub to see other projects
                    I’ve worked on. And if you’re interested in getting connected or to request my work for a project, please
                    submit your full name and email address in the form below.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sbox">
                    <a href="https://sk-startnow-vstda.herokuapp.com/">
                        <img src="/img/projprev/vstda_preview.jpg">
                        <h4>Very Simple To Do App</h4>
                    </a>
                </div>
                <div class="sbox">
                    <a href="https://sk-startnow-sdtopspots.herokuapp.com/">
                        <img src="/img/projprev/sdtopspots_preview.jpg">
                        <h4>San Diego Top Spots</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <img src="/img/projlay/markus-spiske-357131-unsplash.jpg" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p5" />
            <img src="/img/projlay/greg-rakozy-129733-unsplash.jpg" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p5" />
        </div>
    </main>


    <footer>
        <div class="footer-block">
            <h2>Contact</h2>
            <form action="/thanks" method="POST">
                <div class="labels">
                    <label for="firstName">First Name:</label>
                    <input id="firstName" name="user[firstName]" type="text">
                </div>
                <div class="labels">
                    <label for="lastName" style="padding-left: 2px">Last Name:</label>
                    <input id="lastName" name="user[lastName]" type="text">
                </div>
                <div class="labels">
                    <label for="email" style="padding-left: 35px">Email:</label>
                    <input id="email" name="user[email]" type="text">
                </div>
                <div class="buttonbox">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </footer>
</body>

</html>