<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200i,400,500|Open+Sans|Ubuntu+Condensed" rel="stylesheet">
    <title>Sam's Portfolio</title>
</head>

<body>
    <div class="container">
        <header class="header" id="myHeader">
            <h2>
                <%= person.firstName %>
                    <%= person.lastName %>
            </h2>
            <hr />
            <ul>
                <li>
                    <a name="linkedIn" href="https://www.linkedin.com/in/samuel-kim-96326876/">
                        <img src="/img/linkedin/In-Black-34px-TM.png" />
                    </a>
                </li>
                <li>
                    <a name="gitHub" href="https://github.com/SKtaeji">
                        <img src="/img/github/GitHub-Mark-32px.png" />
                    </a>
                </li>
            </ul>
        </header>
        <main>
            <h3>Who am I?</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan ornare leo, ut semper ante tincidunt
                a. Ut sollicitudin, justo ut bibendum rutrum, tellus mauris hendrerit orci, in vestibulum justo turpis sit
                amet ex. Mauris viverra, risus eu vestibulum facilisis, nibh dui pellentesque nulla, a aliquam dui nibh nec
                nulla. Aliquam sit amet elit a velit dapibus tristique id nec nibh. Suspendisse libero dui, scelerisque et
                mollis eu, venenatis eget dolor. Nullam viverra quis ante id faucibus. Pellentesque at sapien ac augue iaculis
                ornare quis id sem. Donec nec gravida leo, vitae pretium nibh. Sed dapibus dui et massa eleifend consequat.
                Nulla ligula eros, maximus in faucibus eu, congue vitae dui.</p>

            <a name="spread">
                <img src="/img/projlay/markus-spiske-357131-unsplash.jpg" />
                <img src="/img/projlay/greg-rakozy-129733-unsplash.jpg" />
            </a>
        </main>
    </div>

    <footer>
        <h1>Contact</h1>
        <form action="/thanks" method="POST">
            <label for="firstName">First Name:</label>
            <input id="firstName" name="user[firstName]" type="text">

            <label for="lastName">Last Name:</label>
            <input id="lastName" name="user[lastName]" type="text">

            <label for="email">Email:</label>
            <input id="email" name="user[email]" type="text">

            <input type="submit" />
        </form>
    </footer>
</body>

</html>