<html>
    <head>
        <div class="header" id="myHeader">
            <h2>My Header</h2>
        </div>
    </head>
    <body>
        <div>
            I Am <%= person.firstName %> <%= person.lastName %>
        </div>
    </body>
</html>